.icon {
  height: var(--padding);
  width: var(--padding);
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}

  .icon--logo {
    width: 45vw;
    height: 20vw;
    /* width: $rythm*2.4;
    height: $rythm*1.4; */
    /* color: $brand; */
  }

  @media (orientation: portrait) {
    .icon--logo {
      width: 88vw;
      height: 20vw;
    }
  }

  .icon--off,
  .icon--on {
    width: calc(52px);
    height: calc(35px);
  }

  .icon--fr,
  .icon--en {
    width: calc(52px);
    height: calc(36px);
  }