.container {
  --height: 100vh;
  --padding: 3vw;
  display: flex;
  flex-direction: column;
}

/* @supports (height: 100dvh) {
  .container {
    --height: 100dvh;
  }
} */

@media (orientation: portrait) {
  .container {
    --padding: 3vh;
    height: auto !important;
  }

  /* @supports (height: 100dvh) {
    .container {
      --padding: 3dvh;
    }
  } */
}

  .container ::selection {
    background: grey;
  }

  /* .container a:hover,
  .container a:focus {
    text-decoration: underline;
  } */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 1vw;
  padding: calc(var(--padding) * 0.666);
}

  .nav > a:last-child {
    text-align: right;
  }

  .button {
    cursor: pointer;
    display: inline-block;
    border: none;
    background: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }

.main {
  padding: var(--padding) calc(var(--padding) * 6.66);
}

  .main:before {
    content: "";
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: block;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    height: calc(var(--height) * 0.1);
    width: 100vw;
    opacity: 0.5;
  }

  .title {
    position: fixed;
    z-index: 2;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin: 0;

    font-size: 8vw;
  }

  .content {
    position: relative;
    z-index: 2;
    margin-top: 90vh;
    font-size: calc(var(--padding) * 0.75);
    white-space: pre-line;
  }

  @media (orientation: portrait) {
    .nav {
      position: static;
      order: 99;
      align-items: center;
      padding: var(--padding);
    }

      .nav > a:last-child {
        order: -1;
      }

      .nav button {
        display: none;
      }

    .main {
      padding: var(--padding);
    }
    
    .title {
      position: fixed;
      top: var(--padding);
      left: var(--padding);
      transform: none;
    }

    .content {
      margin-top: 66vh;
      font-size: calc(var(--padding) * 0.88);
      line-height: 1.36;
    }
  }

.video {
  height: var(--height);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--height) - calc(var(--padding) * 3));
  z-index: 2;
  margin-top: 10vh;
  padding: var(--padding);
  font-size: 1.25vw;
}

  .footer nav {
    display: flex;
    gap: calc(var(--padding) * 2);
    justify-content: center;
  }

  @media (orientation: portrait) {
    .footer {
      position: relative;
      top: 0;
      font-size: 1rem;
    }

    .footer nav {
      flex-direction: column;
    }
  }