.container {
  /* padding: 0 2rem; */
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  padding: 3vw;
}

  .nav h1 {
    margin: 0;
  }

  .nav > a:first-child,
  .nav > a:last-child {
    width: 33%;
  }

  .nav > a:last-child {
    text-align: right;
  }

.main {
  position: relative;
  z-index: 5;
  min-height: 100vh;
  padding: 3vw;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: flex-end;
}

.video {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer {
  padding: 3vw;
}