.container {
  /* padding: 0 2rem; */
}

  .container ::selection {
    background: grey;
  }

  .container a:hover,
  .container a:focus {
    text-decoration: underline;
  }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  padding: 3vw;
}

  .nav h1 {
    margin: 0;
  }

  .nav > a:first-child,
  .nav > div:first-child,
  .nav > a:last-child {
    width: 33%;
  }

  .nav > a:last-child {
    text-align: right;
  }

  .button {
    cursor: pointer;
    display: inline-block;
    border: 1px solid;
    border-radius: 0.33em;
    background: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0.33em;
  }

.main {
  position: relative;
  z-index: 5;
  min-height: 100vh;
  padding: 3vw;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: flex-end;
}

  .title {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin: 0;

    font-size: 8vw;
  }

  .content {
    margin-top: 90vh;
    font-size: 2vw;
    white-space: pre-line;
  }

.video {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer {
  margin-top: 66vh;
  padding: 3vw;
}

  .footer nav {
    display: flex;
    gap: 2vw;
    justify-content: center;
  }